.Container{
    /* background-color: #136713; */
    background-color: #FF0000;
    padding: 20px;
    /* border: 1px solid blue; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.input{
    border: 0;
    border-radius: 25px;
    width: 0px;
    height: 50px;
    background-color: #FFFF;
    outline: 0;
    background-image: url(/assets/search.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 50px;
    transition: all ease 0.60s;
    cursor: pointer;
    font-size: 15px;

   
}

.input:focus{
    cursor: text;
}